{% extends 'base.html.twig' %}

{% block title %}Panier - BD Commerce
{% endblock %}

{% block content %}

	{% if panier is defined %}
		<pre>
		    {{ dump(panier) }}
		</pre>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Ref</th>
					<th scope="col">Titre</th>
					<th scope="col">Quantite</th>
					<th scope="col">Prix (unite)</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for item in panier %}
					<tr>
						<th>
							{{ item.bd.ref }}
						</th>
						<td>{{ item.bd.titre }}</td>
						<td>{{ item.quantite }}</td>
						<td>{{ item.bd.prixPublic }}€</td>
						<td>{{ item.bd.prixPublic * item.quantite }}€</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>
			<a href="{{ path('remove_panier') }}" class="btn btn-danger">Vider le panier</a>
		</p>
	{% else %}
		<p class="text-center">
			Vous n'avez pas de BD dans votre panier
		</p>
	{% endif %}
{% endblock %}
