{% extends 'base.html.twig' %}

{% block title %}BD - BD Commerce
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<h4>Filtre</h4>
			{{ form(form) }}
			</div>
			<div class="col-md-9">

				<h4>Bandes Dessinées</h4>
				<div class="row">
					{% for bd in bds %}
						<div class="col-md-4 my-4">
							<div class="bd-item text-center">
								<div class="row">
									<p>
										<a href="{{ path('bd', { 'ref' : bd.ref }) }}">
											<img src="{{ asset('couv/') }}{{ bd.image }}" alt="image de la bd {{bd.titre}}">
										</a>
									</p>
								</div>
								<h5>{{bd.titre}}</h5>
								<p>{{bd.heros}}</p>
								<p>{{bd.prixPublic}}€</p>
							</div>
						</div>

					{% endfor %}
				</div>

			</div>
		</div>


	{% endblock %}
